/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-body{
    width: 400px;
    padding: 20px 20px 0;
    max-height: 270px;
    overflow: hidden;
    transition: max-height 1s;
    text-align:justify;
    margin-top: 20px;
}


p{
    margin-bottom: 16px;
}

.card-body.open{
    max-height: 1000px;
}

button{
    background: orangered ;
    color: white;
    padding: 0.6rem;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    background: #1e1d25;
} */

.parrafo{
    display: grid;
    grid-template-columns: repeat(auto-fit, min,ax(8rem, 1fr));
    grid-auto-rows: 6rem;
}

.card-img-top{
max-height: 10%;

}
